* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;  
    grid-template-rows: auto 1fr;
    background-color: black;
}

header {
    font-size: 6vmin;
    padding: 2vmin;
    background-color: blue;
    color: magenta;
    text-align: center;
    letter-spacing: .5vmin;
}
 
.cell {
    height: 25vmin;
    width: 25vmin;
    box-shadow: 0 magenta;
    border: .5vh solid magenta;
    line-height: 50vmin;
    font-size: medium; 
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 75vmin;
    margin: 12vmin auto;
}

